<% provide(:title, "User Profile") %>
<div class="ml-3 mb-0">
  <h3><%= @user.name %></h3>
  <small><%= @user.email %></small>
</div>

<% if !current_user.invitations.empty?%>
<div class="card mb-3 ml-3 mr-3 mt-3">
  <h4 class="card-header">Pending invitations:</h4>
  <div class="card-body">
    <ul>
      <% current_user.invited_events.each do |event|%>
        <li><%= link_to "#{event.title}", events_show_path(id: event.id) %>
          <% if event.creator_id == @current_user.id%>
            <span class="text-danger font-weight-bold">*</span>
          <% else %>
            <br>
            <span class="text-success">Hosted by: <%= event.creator.name %></span>
          <% end %>
        </li>
        <% date_hour = event.date_event.to_s.split(' ') %>
        <small class="text-success font-weight-bold"><%= "#{date_hour[0]} – #{date_hour[1][0..4]}" %> </small>
        <br>
        <br>
      <%end%>
    </ul>
  </div>
</div>
<%else%>
  <p class="text-center">You have no invitations right now</p>
<%end%>

<div class="card mb-3 ml-3 mr-3">
  <h4 class="card-header d-flex justify-content-between">Events that I'm attending:
    <small class="text-danger">Events marked with * are owned by you</small>
  </h4>
  <div class="card-body">
    <ul>
    <% if !@user_upcoming_attendances.empty?%>
      <% @user_upcoming_attendances.each do |event|%>
        <li><%= link_to "#{event.title} ", events_show_path(id: event.id) %>
          <% if event.creator_id == @current_user.id%>
            <span class="text-danger font-weight-bold">*</span>
          <% else %>
            <br>
            <span class="text-success">Hosted by: <%= event.creator.name %></span>
          <% end %>
        </li>
          <% date_hour = event.date_event.to_s.split(' ') %>
          <small class="text-success font-weight-bold"><%= "#{date_hour[0]} – #{date_hour[1][0..4]}" %> </small>
        <br>
        <br>
      <%end%>
    <%else%>
      <p class="text-center">You are not attending any events</p>
    <%end%>
    </ul>

  </div>
</div>

<div class="card mb-3 ml-3 mr-3 mt-3">
  <h4 class="card-header">My Attended Events:</h4>
  <div class="card-body">
    <% if @user_past_attendances.empty?%>
      <p class="text-center">You have no past events</p>
    <%else%>
      <ul>
      <% @user_past_attendances.each do |event|%>
        <li><%= link_to "#{event.title}", events_show_path(id: event.id) %>
          <% if event.creator_id == @current_user.id%>
            <span class="text-danger font-weight-bold">*</span>
          <% else %>
            <br>
            <span class="text-success">Hosted by: <%= event.creator.name %></span>
          <%end%>
        </li>
        <% date_hour = event.date_event.to_s.split(' ') %>
        <small class="text-success font-weight-bold"><%= "#{date_hour[0]} – #{date_hour[1][0..4]}" %> </small>
        <br>
        <br>
      <%end%>
      </ul>
    <%end%>
  </div>
</div>
