<% provide(:title, "User Profile") %>
  <div class="ml-2 mb-0">
    <h3><%= @user.name %></h3>
    <small><%= @user.email %></small>
  </div>

  <% if !current_user.invitations.nil?%>
  <div class="card mb-3 ml-3 mr-3 mt-3">
    <h4 class="card-header">Pending invitations:</h4>
    <div class="card-body">
      <ul>
        <% current_user.invited_events.each do |i|%>
        <%# <% current_user.invited_events_ids.uniq each do |i|%> 
            <li><%= link_to "#{i.title} – #{i.date_event}", events_show_path(id: i.id) %></li>
            <br>
        <%end%>
      </ul>
    </div>
  </div>
<%end%>
  <div class="card mb-3 ml-3 mr-3">
    <h4 class="card-header">Events that I'm attending:</h4>
    <div class="card-body">
      <ul>
        <% @user.attendances.each do |i|%>
            <% b = Event.find_by_id(i.attended_event_id)%>
            <li><%= link_to "#{b.title} – #{b.date_event}", events_show_path(id: b.id) %></li>
            <br>
        <%end%>
      </ul>
    </div>
  </div>

  <div class="card mb-3 ml-3 mr-3 mt-3">
    <h4 class="card-header">Events that I was invited to:</h4>
    <div class="card-body">
      <ul>
        <% @user.events.past_event.each do |i|%>
            <li><%= link_to "#{i.title} – #{i.date_event}", events_show_path(id: i.id) %></li>
            <br>
        <%end%>
      </ul>
    </div>
  </div>
  <div class="card mb-3 ml-3 mr-3">
    <h4 class="card-header">Events that I'm invited to:</h4>
    <div class="card-body">
      <ul>
        <% @user.events.upcoming_event.each do |i|%>
            <li><%= link_to "#{i.title} – #{i.date_event}", events_show_path(id: i.id) %></li>
            <br>
        <%end%>
      </ul>
    </div>
  </div>
