
<% provide(:title, "My Events") %>

<% if @my_events.empty?%>
  <p class="text-center">There are no events right now, you can start by creating one</p>
  <%else%>
    <h3 class="text-center">My created upcoming events</h3>
    <div>
      <%if @my_events.upcoming_event.empty? %>
        <p class= "text-center">No events to display</p>
      <%else%>
        <% @my_events.upcoming_event.each do |event|%>
          <div class="card mb-3 ml-4 mr-4 mt-4">
            <p class="card-header text-uppercase"><%= link_to "#{event.title}", events_show_path(id: event.id) %></p>
            <p class="card-body text-capitalize mb-0 pb-2"><%= event.description %></p>
            <ul>
              <li><%= event.place %></li>
              <li><%= event.date_event %></li>
            </ul>
            <p class="font-weight-bold ml-4">Created by: <%= event.creator.name %></p>
          </div>
        <%end%>
      <%end%>
    </div>
    <br>

    <h3 class="text-center">My created past events</h3>
    <div>
      <%if @my_events.past_event.empty? %>
        <p class="text-center">No events to display</p>
      <%else%>
        <% @my_events.past_event.each do |event|%>
          <div class="card mb-3 ml-4 mr-4 mt-4">
            <p class="card-header text-uppercase"><%= link_to "#{event.title}", events_show_path(id: event.id) %></p>
            <p class="card-body text-capitalize mb-0 pb-2"><%= event.description %></p>
            <ul>
              <li><%= event.place %></li>
              <li><%= event.date_event %></li>
            </ul>
            <p class="font-weight-bold ml-4">Created by: <%= event.creator.name %></p>
          </div>
        <%end%>
      <%end%>
    </div>
<%end%>
