<div class="container col-12">
  <div class="row d-flex justify-content-around">
    <div class="card mb-3 col-3">
      <h4 class="card-header text-capitalize"><%= @event.title %></h4>
      <p class="ml-1"><%= @event.description %></p>
      <ul>
        <li><%= @event.place %></li>
        <li><%= @event.date_event %></li>
      </ul>
      <% if !current_user.nil? && current_user.invitations.find_by(invited_event_id: @event.id) %>
        <% if current_user.attendances.find_by(attended_event_id: @event.id) %>
          <button class="btn btn-lg btn-outline-danger ml-auto mr-auto mb-2">
            <%= link_to 'Don\'t attend this event', attendances_destroy_path(attendee_id: current_user.id, attended_event_id: @event.id), method: :delete %>
          </button>
        <% else %>
          <button class="btn btn-lg btn-outline-primary ml-auto mr-auto mb-2">
            <%= link_to 'Attend this event', attendances_create_path(attendee_id: current_user.id, attended_event_id: @event.id), method: :post %>
          </button>
        <% end %>
      <% end %>
    </div>
    <div class="card mb-3 col-3">
    <h4 class="card-header text-capitalize">Attendees</h4>      
      <ul>
        <% @event.attendees.each do |u| %>
          <li><%= u.name %></li>
        <% end %>
      </ul>
    </div>
    <% if current_user %>
      <div class="card mb-3 col-3">
        <% if current_user.events.find_by(id: @event.id, creator_id: current_user.id) %>
          <div>
            <h4 class="card-header text-capitalize">send invitations</h4>
            <%= form_for(:invitation, url: invite_create_path, method: :post, invited_event_id: @event.id,) do |f| %>
              <div class="form-group ml-4 mr-4">
                <p>Select your guests:</p>
                <%= f.collection_check_boxes :guest_id, @users, :id, :name do |b| %>
                  <div class="collection-check-box">
                    <%= b.check_box %>
                    <%= b.label %>
                  </div>
                <% end %>
              </div>

              <%= f.hidden_field :invited_event_id, :value => @event.id %>
              <%= f.submit 'Invite', class: 'ml-4 mr-4 btn btn-primary mb-1 d-flex justify-content-center' %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <%= redirect_to_login %>
    <% end %>
  </div>
</div>
