<% provide(:title, "Invite") %>

<%= form_for(:invitation, url: invite_path) do |f| %>
  <div class="form-group ml-4 mr-4">
    <%= f.label 'Select an event to invite someone to:' %><br>
    <%= f.select 'title', options_for_select(current_user.events.collect{ |i| [i.title] }, class: 'form-control') %>
  </div>

  <div class="form-group ml-4 mr-4">
    <%= f.label 'Select your guests:' %><br>
    <% @users.each do |user| %> 
      <%= f.label user.name %>
      <%= f.check_box :user, :value => user.id, class:'form-control' %> 
      <%# <%= f.hidden_field :original_number, :value => params[:original_number] %>
      <%# f.check_box :public, {}, "true", "false" %>
    <% end %>
  </div>

<%= f.submit 'Invite', class:'ml-4 mr-4 btn btn-primary' %>

<% end %>